[user]
  name  = Michaël van Diemen
  email = van.diemen.michael@gmail.com

[diff]
  color = always

[branch]
  color = always

[core]
  autocrlf     = input
  filemode     = false
  excludesfile = /home/arch/.gitignore_global
  ignorecase   = false
  editor       = gvim -f

[color]
  ui = true

[mergetool "fugitive"]
  cmd = gvim -f -c \"Gdiff\" \"$MERGED\"

[merge]
  tool = fugitive
