!.vimrc
.vim/.netrwhist
.vim/spell
.vim/bundle/**

.config/Code/Backups
.config/Code/Cache
.config/Code/CachedData
.config/Code/CachedExtensions
.config/Code/Cookies
.config/Code/Cookies-journal
.config/Code/GPUCache
.config/Code/Local Storage/
.config/Code/Preferences
.config/Code/User/workspaceStorage/
.config/Code/languagepacks.json
.config/Code/logs/
.config/Code/machineid
.config/Code/storage.json
.config/Code/Network Persistent State
.config/Code/Code Cache/
.config/Code/rapid_render.json
.config/Code/User/globalStorage/state.vscdb

# File with business stuff / keys
.config/fish/config.secret.fish

bin/chromedriver
bin/fan-control
bin/setup-laptop
