! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! rofi.color-enabled: true
! rofi.color-window: #282c34, #55606d, #55606d
! rofi.color-normal: #282c34, #abb2bf, #2c323c, #3e4452, #abb2bf
! rofi.color-active: #726130, #268bd2, #eee8d5, #268bd2, #fdf6e3
! rofi.color-urgent: #e06c75, #abb2bf, #eee8d5, #dc322f, #fdf6e3
! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Dave Davenport
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:0f5f5f5, #002b36, #d0d0d0, #4271ae, #f5f5f5
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   #f5f5f5, #d75f00, #d0d0d0, #d75f00, #f5f5f5
! "Color scheme for active row" Set from: File
rofi.color-active:                   #f5f5f5, #005f87, #d0d0d0, #005f87, #f5f5f5
! "Color scheme window" Set from: File
rofi.color-window:                   #f5f5f5, #444444, #444444
! "Separator style (none, dash, solid)" Set from: File
rofi.separator-style:                solid
rofi.hide-scrollbar:                 false
