# ============================================================================
# GLOBAL SNIPPETS
#
# Various snippets that can be used regardless of the file type of a buffer.

snippet date "Insert the current date"
`date +"%Y-%m-%d"`
endsnippet

snippet ebp "Inserts a Pry binding for eRuby"
<% binding.pry %>
endsnippet


